footer.scrollme
    .footer
        .container

          .row.row-footer-primary
            .col-md-4.community
              h3 Community
              .row
                .col-sm-5
                  ul
                    li
                      a(href='https://github.com/FinanceFutureFactory', target='_blank')
                        i.fa.fa-github
                        |  GitHub
                    li
                      a(href='/cli', target='_blank')
                            i.fa.fa-bandcamp
                            |  Developer
                    li
                        a(href='http://whitepaper.3fchain.org/', target='_blank')
                            i.fa.fa-book
                            |  Whitepaper

          .row.row-footer-copyright
            .col-md-12
              p.copyright Copyright &copy; 2022 Finance Future Factory Foundation (Stiftung Finance Future Factory), Jack, Germany. all rights reserved.
              p.footer-links
                  a(href='./privacy-policy') Privacy Policy
                  | &nbsp; &nbsp;
                  a(href='./cookie-policy') Cookie Policy
                  | &nbsp; &nbsp;
                  a(href='./terms-of-use') Terms of Use

          .row.row-footer-canary
            .col-md-12
                .canary
                    p The Finance Future Factory Foundation (Stiftung http://www.3fchain.com/) has never been contacted by any agency anywhere in the world in a way which requires that contact not to be disclosed.
                    p Stiftung Finance Future Factory will publicly disclose any sort of inquiry from government agencies that falls outside the scope of regular business operations.
