extends layout

block vars
  - var title='About the FFF Foundation'
  - var url='foundation'

block content
  include mixins/recipes.pug
  +inner-header("About the FFF Foundation")


  .main-tutorial.inner-page.foundation-page.even
    .container.scrollme  
      .row.animateme(data-when="enter", data-from="0.9", data-to="0.1", data-opacity="0", data-scale="0.8")
        .col-md-12
          include:markdown-it content/timeline.md