extends layout

block vars
  - var title='Finance Future Factory'

block content
  .main-tutorial.scrollme.intro
    .scrollme.row.introduction.animateme(data-when="span", data-from="0", data-to="1", data-opacity="0.2", data-translatey="300", data-easing="linear")
      h1.animateme(data-when="span", data-from="0", data-to="1", data-scale="0.75", data-translatey="100", data-easing="linear") Ethereum: Build unstoppable applications


  .legal-modal
    .legal-text
      .bad-robot
        img(src='images/bad-robot@2x.png', width='113')
        h3 Please agree to this before downloading
      include:markdown-it content/agreement.md
    a(href='#cancel').button-cancel Mmmm nevermind...
    a(href='#proceed').button-proceed Sure I understand and agree

  .main-content.build-apps
    .container
      .row
        .col-md-6
          h2 Feature

          p The FFF asset chain was founded by the a&nbsp
            strong Finance Future Factory&nbsp
            | : development team.

          p It aims to innovate and practice the &nbsp
            strong public chain linked to physical assets with gold as the unit of measurement.

          p The adoption and development of its novel physical assets, combined with the unique NFT and token launch of the blockchain The premier scaling solution for Web3 dApps.

        .col-md-6
          .row
            .col-md-12
              .server-figure.scrollme
                figure.ethereum-explain.scrollme.animateme(data-when="span", data-from="0.25", data-to="0.26", data-opacity="0")
                  .explain-01.animateme(data-when="span", data-from="0.1", data-to="0", data-opacity="0.5", data-scale="0.8")

                figure.ethereum-explain.scrollme.animateme(data-when="span", data-from="0.35", data-to="0.37", data-opacity="0")
                  .explain-02.animateme(data-when="span", data-from="0.26", data-to="0.25", data-opacity="0")

                figure.ethereum-explain.scrollme.animateme(data-when="span", data-from="0.5", data-to="0.6", data-opacity="0")
                  .explain-02b.animateme(data-when="span", data-from="0.37", data-to="0.35", data-opacity="0")

                figure.ethereum-explain.scrollme
                  .explain-03.animateme(data-when="span", data-from="0.6", data-to="0.5", data-opacity="0")

  .col-md-12.scrollme.main-menu
    .breadcrumb.index.animateme(data-when="exit", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
      strong Finance Future Factory

  include ./includes/recipes.pug
